.app {
  height: 100vh;
  display: flex;
  flex-direction: column;

  &__container {
    flex: 1;
    display: grid;
    width: 100%;
    grid-template-columns: 200px 1fr;
    column-gap: 15px;
    background-color: var(--grey-2);
    padding: 0 12px;
    @media (max-width: 1350px) {
      grid-template-columns: 1fr;
      position: relative;
    }
  }
}
