.app {
  height: 100dvh;
  display: flex;
  flex-direction: column;

  &__container {
    display: grid;
    width: 100%;
    grid-template-columns: 200px 1fr;
    column-gap: 15px;
    padding: 0 15px;

    @media (max-width: 1350px) {
      grid-template-columns: 1fr;
      position: relative;
    }
  }
}
