:root {
  --toastify-color-success: #2e844a !important;
  --toastify-icon-color-error: #f8485e !important;

  // colors

  --white: #fff;
  --aqua: #64ccc9;
  --turquoise-blue: #00a9ce;
  --sf-brand-blue: #0b5cab;
  --grey-1: #999;
  --grey-2: #f8f8f8;
  --grey-3: #f4f2f2;
  --grey-4: #eaeaea;
  --grey-5: #dee1e2;
  --grey-6: #ccc;
  --grey-7: #bfbfbf;
  --grey-8: #5c6770;
  --grey-9: #49535c;
  --grey-rgb: 91, 103, 112;
  --input-text-colour: #999;
  --silver: #bec2c6;
  --green-1: #c2d210;
  --green-2: #b8c62a;
  --green-3: #2e844a;
  --green-4: #04844b;
  --sun-yellow: #ffc72e;
  --orange-1: #dd8340;
  --orange-2: #e87722;
  --magenta: #b4458d;
  --red-1: #f8485e;
  --red-2: #eb0c28;
  --black: #000;

  // font
  --poppins: 'Poppins', sans-serif;
  --inter: 'Inter', sans-serif;
  --public-sans: 'Public Sans', sans-serif;

  // breakpoints

  --sm: '576px';
  --md: '768px';
  --lg: '992px';
  --tablet: '1024px';
  --xl: '1200px';
  --xxl: '1400px';
  --monitor: '1600px';
}
