:root {
  --toastify-color-success: #2e844a !important;
  --toastify-icon-color-error: #f8485e !important;

  // colors

  --white: #fff;
  --natterbox-aqua: #64ccc9;
  --turquoise-blue: #00a9ce;
  --sf-brand-blue: #0b5cab;
  --natterbox-char-fourth-col: #dee1e2;
  --grey-1: #999;
  --grey-2: #f8f8f8;
  --grey-3: #f4f2f2;
  --grey-4: #eaeaea;
  --pinkish-grey: #ccc;
  --pinkish-grey-two: #bfbfbf;
  --natterbox-grey: #5c6770;
  --natterbox-grey-rgb: 91, 103, 112;
  --natterbox-dark-blue-grey: #49535c;
  --input-text-colour: #999;
  --silver: #bec2c6;
  --sick-green: #b8c62a;
  --natterbox-green: #c2d210;
  --sun-yellow: #ffc72e;
  --natterbox-orange: #dd8340;
  --natterbox-orange-2: #e87722;
  --green: #2e844a;
  --jungle-green: #04844b;
  --natterbox-magenta: #b4458d;
  --natterbox-lighter-red: #f8485e;
  --natterbox-red: #eb0c28;
  --black: #000;

  // font
  --poppins: 'Poppins', sans-serif;
  --inter: 'Inter', sans-serif;
  --public-sans: 'Public Sans', sans-serif;

  // breakpoints

  --sm: '576px';
  --md: '768px';
  --lg: '992px';
  --tablet: '1024px';
  --xl: '1200px';
  --toolbar-responsive: '1270px';
  --xxl: '1400px';
  --monitor: '1600px';
}
