.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  min-height: 80px;

  &__right-side {
    &--category {
      @media (max-width: 800px) {
        max-width: 400px;
        margin: 0 auto;
        justify-content: center;
      }
    }
  }

  &__left-side,
  &__right-side {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
  }
}
