.view-category {
  &__info {
    font-size: 14px;
    margin-left: 32px;
    line-height: 24px;

    .autosuggest__suggestion-match {
      color: var(--natterbox-orange-2);
      font-weight: 700;
    }
  }
}
