.file-input {
  display: flex;
  align-items: center;
  line-height: 20px;
  height: 48px;
  background: var(--white);
  border-radius: 4px;
  border: 2px solid var(--input-border);
  padding: 0 12px;
  margin-bottom: 12px;

  &.input__field-group.file-input--no-margin {
    margin-bottom: 0;
  }

  &__label {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    line-height: 18px;
    font-weight: 300;
    white-space: break-spaces;
  }

  &__container {
    margin-bottom: 25px;
  }

  &__icon {
    font-size: 28px;
    fill: var(--input-border);
  }

  input[type='file'] {
    display: none;
  }

  &__file {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__file-modal {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__files {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
  }

  &__file-container {
    position: relative;
    aspect-ratio: 1;
    border-radius: 4px;
    overflow: hidden;
  }

  &__remove-icon {
    position: absolute;
    top: 5px;
    left: 5px;

    svg {
      font-size: 32px;
      padding: 5px;
      color: black;
      background: white;
      border-radius: 50%;
      box-sizing: content-box;
    }
  }
}
