.auth-page {
  display: flex;
  flex-direction: column;
  min-height: 100lvh;
  background-color: var(--red-1);

  &__image-container {
    display: flex;
    flex: 1;
  }

  &__image {
    margin: auto;
    fill: white;
    font-size: 150px;
  }

  &__form {
    padding: 20px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: var(--white);
  }

  &__facebook {
    position: absolute;
    left: 15px;
    color: var(--blue-2);
  }

  &__google {
    position: absolute;
    left: 15px;
  }

  &__forgot {
    display: flex;
    align-items: center;
    font-weight: 700;
  }
}
