.input {
  &--simple {
    background-color: var(--grey-3);
    border: solid 1px var(--pinkish-grey);
  }

  &--no-border {
    background-color: var(--grey-3);
    padding: 10px 30px;
    border-radius: 30px;
    height: 37px;
  }

  &--no-border-small {
    background-color: var(--grey-3);
    border-radius: 30px;
    height: 30px;
    font-size: 12px;
    padding: 3px 15px;
  }

  padding: 0 4px;
  border-radius: 5px;
  font-size: 14px;
  color: var(--natterbox-grey);
  width: 100%;
  height: 30px;

  &:focus,
  &:focus-visible {
    outline: 1px solid var(--natterbox-dark-blue-grey);
  }

  &--small-size {
    width: 60px;

    &::-webkit-inner-spin-button {
      opacity: 1;
    }
  }

  &--error {
    border: solid 1px var(--natterbox-red);

    &:focus {
      border: solid 1px var(--pinkish-grey);
      outline: 1px solid var(--natterbox-dark-blue-grey);
    }
  }

  &--select-grey {
    font-size: 14px;
    color: var(--input-text-colour);
  }

  &::placeholder {
    color: var(--input-text-colour);
  }

  &__error-message {
    color: var(--natterbox-red);
    font-size: 12px;
    margin-top: 5px;
  }

  &[type='date'] {
    padding: 0 0 0 9px;

    &::-webkit-calendar-picker-indicator {
      color: rgb(0 0 0 / 0%);
      opacity: 1;
      display: block;
      background: #5b6770
        url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAeCAYAAABNChwpAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAEnQAABJ0Ad5mH3gAAAFrSURBVFhH7ZTdSwJBFMX7Q3sJgoIiFvoCQ6Ig36QeRAglsrAPk0IieumhfyGQZFmS8hMlCypLlmTiXnbggndjLov00Bw4DGdn5/BjLzsTO+mMmpxx/swWwAKIAe7KFdVqd9TU/NLI3lOtoVzvYeT5bzYCmF5YValMTu3u55XWUbGEWRuyFmR4H85xfdRGAOWKG1TLdO96bB+1EcDXYBBUysX1URsBxBNJtZVMiQ3nuD5qI4DZxTXlxDbEnluOs33UYx2B7/tsH7URQBRxfdSRAE7PL3H/rHSFWc+8+ljDDKI9nCMB7OULuJ87LmJeWU9gdr0qZhDt4RwJAGbcfe7hCnp7/8BMxfVRiwC+h0O8XOrNNubeyytmWMPE9VGLAPTN5sQ2MWcPTjDDKMJEeziLAOrNFv7f2+ks5uubW8ywhonrozYC6Pc/gzqZ4BzXR20EAJ9YehnB+4eFC7aP2ghgnLYAFsAC/HcAR/0A7GWIzbcQyR8AAAAASUVORK5CYII=')
        no-repeat;
      width: 28px;
      height: 24px;
      border-width: thin;
      cursor: pointer;
    }
  }
}
