.header {
  display: grid;
  grid-template-columns: 25px 1fr 25px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--turquoise-blue);
  min-height: calc(50px + env(safe-area-inset-top));
  padding: env(safe-area-inset-top) 10px 0;
  color: var(--white);
  font-size: 24px;
  text-align: center;

  &__title {
    color: inherit;
  }

  svg {
    fill: var(--white);
  }
}
