.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blue-1);
  height: var(--header-height);
  padding: env(safe-area-inset-top) 10px 0;
  color: var(--white);
  font-size: 24px;
  text-align: center;

  &__left-side {
    display: flex;
    align-items: center;
  }

  &__title {
    color: inherit;
  }

  &__back-icon {
    fill: var(--white);
  }
}
