.input-select {
  .input-select {

    &__control {
      min-height: 30px;
      background-color: var(--grey-3);
      border: solid 1px var(--grey-6);


      &--is-focused {
        box-shadow: none !important;
        border: solid 1px var(--grey-6) !important;
        outline: 1px solid var(--grey-9) !important;
        caret-color: var(--grey-8) !important;;
      }
    }

    &__indicator {
      padding: 4px;
    }

    &__single-value {
      font-size: 14px;
      color: var(--grey-8);
      margin-left: 4px;
    }

    &__value-container {
      padding: 0;
    }

  }

  &--error {
    border: solid 1px var(--red-2);
    border-radius: 5px;
  }
}
