.vehicle-documents-list {
  display: flex;
  flex-direction: column;

  &__types {
    display: flex;
    gap: 6px;
    overflow: auto;

    .button--empty:hover {
      text-decoration: none;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__type {
    background-color: var(--blue-3);
    color: var(--black);
    padding: 6px 12px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;

    &:first-child {
      margin-left: 6px;
    }

    &--active {
      background-color: var(--blue-1);
      color: var(--white);
    }
  }

  &__document {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px;
    border-bottom: 1px solid var(--blue-3);
    font-size: 16px;
    font-weight: 500;
    color: var(--black);
  }

  &__info-icon {
    font-size: 24px;
    color: var(--grey-3);
  }

  &__name-date {
    text-align: left;
    margin-left: 8px;
  }

  &__name {
    font-weight: 500;
  }

  &__date {
    color: var(--grey-3);
    font-size: 14px;
    font-weight: 400;
  }

  &__arrow-icon {
    margin-left: auto;
  }

  &__add-btn {
    color: var(--blue-1);
    font-size: 16px;
    text-transform: capitalize;
    display: block;

    &:hover {
      text-decoration: none;
    }

    font-weight: 500;
    padding: 4px 8px;
    border-radius: 50px;
    border: 1px solid var(--blue-1);
    margin-top: 8px;
    margin-left: 12px;
  }
}
