.vehicle-page {
  padding-top: 12px;

  &__files {
    width: 55px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__title {
    font-weight: 500;
    font-size: 22px;
  }

  &__number {
    text-transform: uppercase;
  }

  &__model {
    margin-top: 10px;
    color: var(--grey-3);
  }
}
