.words-and-phrases {
  input {
    width: 50px;
  }

  &__rules {
    display: flex;
    flex-wrap: wrap;
    min-height: 65px;
    padding: 10px;
    align-items: start;
    justify-content: center;
    border: solid 1px var(--pinkish-grey);
    border-radius: 8px;
  }

  &__options {
    display: flex;
    margin-top: 10px;
    gap: 10px;
    margin-bottom: 10px;
  }

  &__wrapper {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;

    &--extra-letters {
      gap: 0;
    }
  }

  &__child {
    border: solid 1px var(--pinkish-grey);
    border-radius: 4px;
    min-width: 30px;
    min-height: 30px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &__and {
    &-text {
      text-align: center;
      font-weight: 500;
    }
  }

  &__or {
    &-text {
      text-align: center;
      font-weight: 500;
    }
  }

  &__and-not {
    &-text {
      text-align: center;
      font-weight: 500;
    }
  }

  &__extra-words {
    &-text {
      text-align: center;
      font-weight: 500;
    }
  }
}
