.category-history {
  max-width: 1200px;

  &__left-label {
    width: 215px;
    margin: 0;
  }

  &__data-range {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    column-gap: 15px;
    justify-content: space-between;
    align-items: flex-end;

    .category-history__left-label {
      margin-bottom: 10px;
    }
  }

  &__limit {
    max-width: 100px;
  }

  &__search-export {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 0.25fr 0.25fr;
    column-gap: 15px;
    align-items: center;
    margin: 20px 0;
  }

  &__label-input {
    display: grid;
    justify-content: flex-start;
    align-items: center;
    grid-template-columns: auto 1fr 1fr;
    column-gap: 15px;
    margin-top: 15px;

    &--checkbox {
      grid-template-columns: auto 20px;
    }
  }
}
