.edit-vehicle-document-page {
  font-size: 10px;
  padding-bottom: calc(env(safe-area-inset-bottom) + 12px);

  &__footer {
    display: flex;
    justify-content: flex-end;
    padding:  0 12px;
  }
}
